

.nav{
  padding-bottom: 0.5em;
  margin-top: 1.5em;
}
.naslov{
font-family: 'Special Elite', cursive;
}
.duck{
  max-width: 170px;
}
.bits {
  display: flex;
}

.bits figure {
  margin-right: 12px;
}
.photographer {
  font-family: 'Cambay', sans-serif;
  color: #565353;
  font-size: 50px;
  font-weight: bold;
}
.portfolio {
  color: #565353;
  font-family: 'Mukta Vaani', sans-serif;
  font-weight: lighter;
}
.main {
  margin-left: 50px;
}
.surround {
  padding-top: 24px;
  padding-right: 50px;
}
